.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-title {
  font-size: 4.8em;
  font-weight: 500;
  margin: 20px 0;
}

.email {
  font-size: 1.2em;
  font-weight: 400;
  margin: 10px 0;
}

.github {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  transition: transform 0.2s ease-in-out;
}

.github:hover {
  transform: scale(1.1);
}
