.experience {
  background: white;
  height: 50vh;
  width: 100%;
}

.experience-title {
  text-align: center;
  color: black;
  font-size: 1.6em;
}

.experience-hedding {
  position: relative;
  display: inline-block;
  font-size: 2.4em;
  font-weight: 400;
  margin: 30px 0;
  color: black;
}

.experience-content {
  margin-left: auto;
  box-sizing: border-box;
  font-size: 1.3rem;
  padding: 1rem;
  margin-right: 8vw;
  width: 100%;
  line-height: 1.5;
  color: black;
}
