.header-class {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header-class.scrolled {
  background-color: #f8f8f8;
  box-shadow: none;
}

.header-text ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-text li {
  margin-right: 20px;
  cursor: pointer;
}

.header-text li:last-child {
  margin-right: 0;
}

.header-text li {
  color: #333333;
  font-size: 16px;
}

.header-text li.active {
  font-weight: bold;
}
