.header-class {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.header-class.scrolled {
  background-color: #f8f8f8;
  box-shadow: none;
}

.header-text ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-text li {
  margin-right: 20px;
  cursor: pointer;
  transition: color 0.3s;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.header-text li:hover {
  color: #f86a6a;
}

.header-text li:last-child {
  margin-right: 0;
}
