.skills {
  background: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-title {
  text-align: center;
  color: white;
  font-size: 1.6em;
}

.skills-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
}

.skills-hedding {
  font-size: 2em;
  font-weight: 400;
  color: white;
  margin: 20px 0;
}

.skills-icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 40vh;
  overflow-y: auto;
  background-color: black;
}

.skills-icon {
  width: 100px;
  height: 100px;
  margin: 10px;
}
