.circleMouse {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

.primaryGradient {
  background: linear-gradient(to bottom right, #4f46e5, #3f37c9);
}

.pointerEventsNone {
  pointer-events: none;
}

.defaultVariant {
  transition: transform 0.1s ease-in-out;
}

.textVariant {
  height: 150px;
  width: 150px;
  mix-blend-mode: difference;
  transition: transform 0.1s ease-in-out, background-image 0.1s ease-in-out;
}

.technologyVariant {
  height: 150px;
  width: 150px;
  mix-blend-mode: difference;
  background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)
  );
  transition: transform 0.1s ease-in-out, background-image 0.1s ease-in-out;
}
